# We shouldn't need this, but pants will assume that smithy_core is an external
# dependency since it's in pyproject.toml and there's no way to exclude it, so
# for now we need to duplicate things.
aiohttp>=3.8.6,<3.11.0
awscrt>=0.15,<1.0
