# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
**/dependency-reduced-pom.xml

# Gradle
/.gradle
build/
*/out/
*/*/out/

# Python
__pycache__
*.swp
.mypy_cache
.coverage
htmlcov
*.egg_info
dist
