# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
**/dependency-reduced-pom.xml

# Gradle
/.gradle
build/
*/out/
*/*/out/

# Python
__pycache__
*.swp
.mypy_cache
.coverage
coverage.xml
htmlcov
*.egg_info
dist
venv/
env/
.venv/
.python-version

# Pants workspace files
/.pants.d/
/dist/
/.pids
/.pants.workdir.file_lock*
