[project]
name = "smithy-core"
version = "0.0.1"
description = "Core components for implementing Smithy tooling in Python."
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "freezegun>=1.5.1",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
exclude = [
  "tests",
]

[tool.ruff]
src = ["src"]
