name: License Header Check

on:
  pull_request:
  push:
    branches:
      - develop

permissions:
  contents: read

jobs:
  check-license-header: 
    name: Check License Header
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: apache/skywalking-eyes/header@b7f8b351c2db8005972712d7efc0a15484a15bcb
        with:
          mode: check 
