name: License Header Check

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  check-license-header: 
    name: Check License Header
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: apache/skywalking-eyes/header@main
        with:
          mode: check 
