name: License Header Check

on:
  pull_request:
  push:
    branches:
      - develop

permissions:
  contents: read

jobs:
  check-license-header: 
    name: Check License Header
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: apache/skywalking-eyes/header@02a7f6d40de257c3e8ef8079a9a96499ec9e0929
        with:
          mode: check 
