name: License Header Check

on:
  pull_request:
  push:
    branches:
      - develop

permissions:
  contents: read

jobs:
  check-license-header: 
    name: Check License Header
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - uses: apache/skywalking-eyes/header@1a2a5024a0d5937db21af5dbc57cf73f0ac1de8f
        with:
          mode: check 
