name: CI

on:
    push:
        branches:
          - develop
          - main

    pull_request:
        branches:
          - develop

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          enable-cache: true

      - name: Setup workspace
        run: |
          make install

      - name: Check python packages
        if: ${{ matrix.python-version == '3.12' }}
        run: |
          make check-py

      - name: Test python packages
        run: |
          make test-py

      - name: Build python packages
        run: |
          make build-py

      - name: Build (and test) java packages
        run: |
          make build-java

      - name: Run protocol tests
        run: |
          make test-protocols
