name: Type Check

on:
    push:
        branches: develop
    pull_request:
        branches: develop

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v1
      - name: Set Up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Run type checks
        run: |
            ./pants --no-dynamic-ui check ::
